 /***这是分类栏目的样式***/
#fllm{
   width:1282px;
    height:73px;

    margin:54px auto;
    ul{
        width:100%;
    display:flex;
   
    }
    li{
        width:25%;
        p:nth-of-type(1){
       height:18px;
      
       text-align:center;
       margin-bottom:30px;
       border-right:1px solid #ababab;
        }
        p:nth-of-type(2){
            font-size:14px;
          
            
       text-align:center;
      a{
          display: inline-block;
          margin-right:20px;
          color:black;
          text-decoration: none;
          padding:5px 0;
          border-bottom:2px solid #dadada
          
      }
      a:hover{
        color:green;
       }
       li:nth-of-type(4){
        p:nth-of-type(1){
            border:none
        }
        }
       
        }
    }
  }