/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @charset "utf-8";
 @import "compass/reset"; /***********编写自己的样式之前，有必要重置浏览器的默认样式。**************/
 @import "compass/css3"; /***********该模块提供19种CSS3命令*********/
 @import "compass/layout"; /*****该模块提供布局功能*****/
 @import "compass/typography";  /*****typography模块 *****/
 @import "compass/utilities"; /*******utilities模块 该模块提供某些不属于其他模块的功能。******/ 
 @import "compass";
@import "compass/reset";
@import "top";
@import "lunbo";
@import "fllm";
$page_width:1282px;
$page_container:100%;

%box {
    width: $page_width;
   
    margin: 0 auto;
}
/*这是公告的样式*/
#gonggao1{
    @extend %box;
    height:52px;
    background:#fe0000;
    margin:27px auto 10px;
    display: flex;
    justify-content: space-between;
    
      .nextbutton{
      width:62px;
        height:52px;
       background: url("https://www.uniqlo.cn/public/image/L1/2019/common/notice_next.png") no-repeat  center center
      }
      .prevbutton{
        width:62px;
          height:52px;
         background: url("https://www.uniqlo.cn/public/image/L1/2019/common/notice_prev.png") no-repeat center center
        }
     
    ul{
      overflow: hidden;
      height:52px;
      width:3000px;
     
      li{
        background:#fe0000;
        width:1158px;
        height:52px;
        
        float:left;  
        img{
          width:1158px;
        }
      }
      }
    }
/**********这是楼梯的样式********/ 
  #louti{
    @extend %box;
    height:82px;
    background:#a91523;

		
    ul{
      display:flex;
      height:82px;
      justify-content: space-evenly;
     
      li{
        
        
        line-height:38px;
        font-size:20px;
        padding:18px;
        a{
          color:#ffe699;
          text-decoration: none;
        }
       
      }
    }
    
  
  }
  #louticopy{
    @extend %box;
    height:82px;
    background:#a91523;
    position:fixed;
    top:-100px;
    z-index:2;
    margin-left:33px;

		
    ul{
      display:flex;
      height:82px;
      justify-content: space-evenly;
     
      li{
        
        
        line-height:38px;
        font-size:20px;
        padding:18px;
        a{
          color:#ffe699;
          text-decoration: none;
        }
       
      }
    }
    
  
  }
/**********这是广告的样式***********/ 
  .guanggao1{
    @extend %box;
    height:74px;
   img{
     width:100%;
     height:100%
   }
    margin:26px auto 14px
  }
/******这是广告的样式*******/ 
  .guanggao2{
    @extend %box;
    height:162px;
    img{
      width:100%;
      height:100%
    }
    margin-bottom:17px;
  }
  /******这是广告的样式*******/ 
  .guanggao3{
    @extend %box;
    height:205px;
    img{
      width:100%;
      height:100%
    }
    margin-bottom:17px;
  }

  /*******这是人气榜单的样式*******/
  #rqbd{
    @extend %box;
    height:646px;
    background:lightcoral;
    position:relative;
    ul{
      width:878px;
      display:flex;
      justify-content: space-between;
      left:131px;
      top:111px;
      position: absolute;
      li{
        margin-right:40px;
        a{
          display: inline-block;
         width:100px;
         height:30px;
          font-size:24px;
          text-decoration: none;
          color:black;
          text-align:center;
          
        }
        a:hover{
          border-radius: 10%;
          color:white;
          background-color: blue;
        }
        a:before{
          content: "";
    position: absolute;
    left: -54px;
    top: -8px;
    width: 50px;
    height: 50px;
    background-image: url("https://img.alicdn.com/imgextra/i2/196993935/O1CN01pUmIvI1ewH6As5eFD_!!196993935.png")
        }
      }
    
    }
    .rqbdimg1{
      height: 642px;
      display:block;
       a{
        display:inline-block;
        width:100%;
        height:100%;
       }
     }
    .rqbdimg2{
      height: 642px;
      display:none;
       a{
        display:inline-block;
        width:100%;
        height:100%;
      
     }
    }
     .rqbdimg3{
      height: 642px;
      display:none;
       a{
        display:inline-block;
        width:100%;
        height:100%;
     
     }
     
      }
      .rqbdimg4{
        height: 642px;
        display:none;
         a{
          display:inline-block;
          width:100%;
          height:100%;
       
       }
      }
  }

  /*******这是本周推荐的样式*******/
  #tj{
    @extend %box;
    height:639px;
 
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    img{
      width:100%;
      height:578px;

    }
   
    
  }
  /*******这是牛仔裤推荐的样式*******/
  #nzktj{
    @extend %box;
    height:997px;
 
    margin-top:30px;
   
    .nzkimg1{
      width:100%;
      height:433px;
      margin-bottom:40px; 
  }
  .nzkimg2{
    width:100%;
    height:520px;
  }
}
  /*******这是人气商品的样式*******/
  #rqsp{
    @extend %box;
    height:1182px;
    
    margin-top:60px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    .rqspimg1{
      width:100%;
      height:578px;
      margin-bottom:30px;

    }
    .rqspimg2{
      width:100%;
      height:512px;
    }
  }
    /*******这是限时特优的样式*******/
  #xsty{
    @extend %box;
    height:1182px;
    margin-top:60px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    .xstyimg1{
      width:100%;
      height:578px;
      margin-bottom:30px;

    }
    .xstyimg2{
      width:100%;
      height:512px;
    }
  }
    /*******这是广告的样式*******/
  .guanggao4{
    @extend %box;
    height:202px;
    img{
      width:100%;
      height:100%
    }
    margin:38px auto 63px;
  }

    /*******这是热门商品分类的样式*******/
  #rmsp{
    @extend %box;
    height:963px;
  
    margin-top:67px;

    p{
      font-size:30px;
      font-weight:bold;
   
    }
    ul{
      width: 100%;
      display:flex;
      margin-bottom:30px;
      li{
        width:25%;
        text-align: center;
        border-bottom:1px solid #ababab;
        line-height:78px;
        a{
          text-decoration: none;
          color:#ababab;
          font-weight:bold;
       
        }
      
      a:hover{
        color:black
      }
    }
  }
  .rmspimg1{
    height: 828px;
    display:block;
     a{
      display:inline-block;
      width:100%;
      height:100%;
     
     
   }
    
  
    }
   .rmspimg2{
    height: 828px;
    display:none;
     a{
      display:inline-block;
      width:100%;
      height:100%;
   
   }
    
   
    }
    .rmspimg3{
      height: 828px;
      display:none;
       a{
        display:inline-block;
        width:100%;
        height:100%;
        
     }
    }
     .rmspimg4{
      height: 828px;
      display:none;
       a{
        display:inline-block;
        width:100%;
        height:100%;
      
     }
    
    
  }
  .active{
    border-bottom:#378694 4px solid 
  }
}
    /*******这是穿搭推荐的样式*******/
  #cdtj{
    @extend %box;
 
    margin-top:67px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    
  }
   /*******这是特辑一览的样式*******/
   #tjyl{
    @extend %box;
 
    margin-top:67px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    };
    .tjylimg1{
      margin-bottom:30px;
    }
  }
    /*******这是合作系列的样式*******/
  #hz{
    @extend %box;
    height:1144px;

    margin-top:80px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    };
    .hzimg1{
   
      margin-bottom:30px;

    }
    
  }
  /*******这是ut系列的样式*******/
  #utxl{
    @extend %box;
    height:1214px;
     
    margin-top:64px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    .utimg1{
   
      margin-bottom:30px;

    }
    
  }
 /*******这是热销排行的样式*******/
 #rxph{
  @extend %box;
  margin-top:67px;
  height:561px;
  p{
    font-size:30px;
    font-weight:bold;
 
  }
  ul{
    widows: 100%;
    display:flex;
    margin-bottom:30px;
    li{
      width:25%;
      text-align: center;
      border-bottom:1px solid #ababab;
      line-height:78px;
      a{
        text-decoration: none;
        color:#ababab;
        font-weight:bold;
     
      }
    
    a:hover{
      color:black
    }
  }
  }

  .rxphimg1{
    height:422px;
    display: block;
    a{
      display:inline-block;
      height:100%;
      width:100%;
     
    }
   
  }
  .rxphimg2{
    height:422px;
    display: none;
    a{
      display:inline-block;
      height:100%;
      width:100%;
   
   
  }
}
  .rxphimg3{
    height:422px;
    display: none;
    a{
      display:inline-block;
      height:100%;
      width:100%;
    
    }
   
  }
  .rxphimg4{
    height:422px;
    display: none;
    a{
      display:inline-block;
      height:100%;
      width:100%;
    
    }
   
  }
  .active{
    border-bottom:#378694 4px solid 
  }
  }
  

/*******这是便利服务的样式*******/ 
  #fw{
    @extend %box;
    height:728px;
    margin-top:60px;
    display:flex;
    flex-direction: column;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    };
    .tips{
      margin-top:100px;
      text-align:center;
      border-bottom:1px solid #ababab;
      padding-bottom:30px ;
      
      h3{
        font-weight:bold;
        margin-bottom:15px;
      }
      h4 a{
        color:black
      }
    }
  }
/******这是导购的样式******/ 
  #daogou{
    @extend %box;

    margin-top:78px
    
  }
  /******这是尾部的样式******/ 
  #footer{
    @extend %box;
    height:176px;

    margin-top:24px;

   
    .footer-nav{
      width:100%;
      height:52px;
      display:flex;
      margin-bottom:20px;
      background-color: black;
      img{
        width:52px;
        height:52px;
      }
      .footer-leftnav{
        display:flex;
        height:52px;
        span{
          width:0px;
          height:24px;
          border-right:1px dotted  white;
          margin:14px 0

        }
        h3{
          padding:17px 120px 17px 120px;
          a{
            font-size:12px;
        color:white;
        text-decoration: none;
    
          }
          a:hover{
        color:red
          }
        }
      }
     
    } 

    .footeritem{
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
      a{
        font-size:14px;
        color:#ababab;
        text-decoration: none;
      }
     
    
    }
  }

  /******这是回到顶部的样式******/ 
  #topbutton{
    width:50px;
    font-size:12px;
    height:12px;
    background:white;
    color:black;
    position:absolute;
    right:0;
    bottom:100px;
    border:1px solid #ababab;
    text-align: center;
    padding:19px 0;
    visibility: hidden;
  }
  