


#container {
	width: 1282px;
	margin: 0 auto;
}



.cart-top {
    margin-top: 30px;
    border-bottom: 1px #ababab solid;
    margin-bottom: 10px;;
}

.cart-top-left {
	height: 26px;
	font-size: 16px;
	line-height: 36px;
display: flex;
justify-content: space-evenly;
    font-weight: 700;
    padding-bottom: 10px;
}

.cart-top-left a {
	color: #ababab;
	text-decoration: none;
}

.cart-top-left a em {
	margin-right: 5px;
	color:black;
	
	  
}



.cart-wrap {
	background: #fff;
	margin-bottom: 20px;
}

.cart-thead {
	height: 32px;
	line-height: 32px;
	margin: 0 0 10px;

	background:white;

	position:relative;
	
}

.cart-col {
	float: left;
}



.t-checkbox {
	height: 70px;
	width: 122px;
	padding-left: 11px;
     float:left
}


.cart-checkbox input {
	margin-right: 5px;
}

.t-goods {
	width: 208px;
	position:absolute;
	left:165px;
	color:black;
}

.t-props {
	width: 140px;
	height: 32px;
	padding: 0 20px;
	text-align: right;
}

.t-prices {
	width: 120px;
	position:absolute;
	left:572px;
	height: 32px;
	color:black;
}

.t-quantity {
	position:absolute;
	left:704px;
	width: 80px;
	color:black;
}

.t-sum {
	width: 100px;
	position:absolute;
	left:797px;
	color:black;
	
}
.t-action {
	width: 100px;
	position:absolute;
	left:898px;
	color:black;
	
}

.cart-item-list {
	margin-bottom: 20px;
}

.cart-item-list .shop {
	height: 30px;
	line-height: 30px;
	padding-left: 11px;
	font-weight: 700;
}



.goods-item {
	padding: 0 10px 0 40px;

	position: relative;
}

.goods-item-sele {
	background: white;
}

.goods-info {
	border-top: 1px solid #f1f1f1;
	overflow: hidden;
}

.cell {
	float: left;
}

.b-checkbox {
	position: absolute;
	left: 10px;
	width: 30px;
	height: 20px;
	padding: 15px 0 10px 0;

}

.goods-item .cart-checkbox input {
	position: absolute;
	z-index: 2;
}

.cart-checkbox .line-circle {
	position: absolute;
	left: 2px;
	top: -5px;
	display: block;
	width: 7px;
	height: 29px;
}

.goods-item .b-goods {
	width: 480px;
	padding: 15px 0 10px 0;
}

.b-goods .goods-name .goods-pic {
	width: 82px;
	height: 82px;
	margin-right: 10px;
	border: 1px solid #eee;
	float: left;
}

.b-goods .goods-name .goods-pic img {
	width: 80px;
	height: 80px;
}

.goods-d-info {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}



.b-price {
	width: 120px;
	padding: 15px 40px 10px 0;
	overflow: hidden;
	text-align: right;
}



.sales-promotion b {
	display: inline-block;
	width: 7px;
	height: 4px;
	position: absolute;
	right: 8px;
	top: 8px;
} */

.b-quantity {
	width: 80px;
	padding: 15px 0 10px;
}

.b-quantity .quantity-form {
	position: relative;
	overflow: hidden;
	height: 20px;
	width:88px;
	border: 1px solid #cacbcb;
}

.quantity-form a {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 1px 0;
	width: 16px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff;
	float:left;
	text-decoration: none;
}

.quantity-form .quantity-down {
	border-right: 1px solid #cacbcb;
}

.quantity-form .quantity-add {
	border-left: 1px solid #cacbcb;
}


.quantity-form input {
	width: 44px;

	float: left;
	text-align: center;
	background: white;
	
	

}

.quantity-text {
	text-align: center;
	height: 20px;
	line-height: 15px;
}

.b-sum {
	width: 100px;
	height: 20px;
	padding: 15px 40px 15px 0;
	text-align: right;
}

.b-sum strong {
	color: #333;
	font-weight: 700;
	font-size: 14px;
}

.b-action {

	padding: 15px 0 10px 0;
}

.b-action a {
	text-decoration: none;
color:red;
	display: block;
	width: 75px;
	height: 20px;
}

#cart-floatbar {
	width: 1280px;
	height: 70px;
	border: 1px solid #f0f0f0;
	border-top:2px solid #aaa; 
	background: #fff;
	position: relative;
}
.cart-checkbox{
	position:absolute;
	top:35px;
}
.select-all {
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 16px 0 16px 9px;
}

.operation {
	float: left;
	height: 70px;
	width: 310px;
	line-height: 85px;
}

.operation a {
	margin-left: 20px;
	display: inline-block;
	height: 70px;
}

.toolbar-right {
	overflow: hidden;
	height:70px;
	
}

.toolbar-right .btn-area {
	float: right;
	line-height:75px;
	padding:10px;
	

}

.btn-area a {
	display: block;
	width: 80px;
	height: 45px;
	background:red;
	border:1px solid;
	text-align:center;
	text-decoration: none;
	line-height:40px;
	color:white


}

.price-sum {
	float: right;
	height: 43px;
	line-height: 75px;
	margin: 7px 20px 0 10px;
	color: #666;
	width: 280px;
}

.price-sum span {
	display: inline-block;

	height: 20px;
	float: left;
	text-align: left;
}

.price-sum .txt {
	text-align: right;
}

.price-sum .totalprice {
	font-size: 18px;
	color: #e4393c;
	font-weight: 700;
}

.amount-sum {
	float: right;
	color: #999;
	height: 44px;
	line-height: 75px;
	margin: 7px 0 0;
	cursor: pointer;
}

.amount-sum em {
	color: #e4393c;
	font-family: verdana;
	font-weight: 700;
	margin: 0 3px;
}

.amount-sum b {
	display: inline-block;
	width: 9px;
	height: 5px;
	vertical-align: middle;

}

.goods-list-tab .tab-selected {
	width: 26px;
	background: #e4393c;
}



.goods-list ul {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.goods-list ul li {
	float: left;

}

.goods-list ul li .goodsinfo {
	position: relative;
	width: 206px;
	padding: 20px;
	background: #fff;
	margin: -1px 0 0 -1px;
	border: 1px dashed #cacaca;
	overflow: hidden;
}

.goods-list ul li .goodsinfo:hover {
	z-index: 2;
	border: 1px solid #E4393C;
}

.p-img {
	width: 160px;
	margin: 0 auto;
}

.goodsinfo .p-img img {
	vertical-align: middle;
	width: 160px;
	height: 160px;

}

.p-name {
	height: 36px;
	line-height: 18px;
	margin: 5px 0;
	overflow: hidden;
}

.p-price {
	width: 100%;
	margin: 5px 0 2px;
	overflow: hidden;
	text-align: center;
}

.p-price strong {
	font-size: 14px;
	color: #d91f20;
	font-family: verdana;
	font-weight: 400;
}

.p-btn {
	margin: 10px 0 0;
	text-align: center;
}

.p-btn a {
	display: inline-block;

	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	border: 1px solid #999;
	color: #666;
	text-align: center;

	border-radius: 3px;
}

.p-btn a:hover {
	border: 1px solid #E4393C;
	background: #E4393C;
	color: white;
}

.p-btn b {
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-right: 5px;
	overflow: hidden;
	vertical-align: middle;
}

