html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***********编写自己的样式之前，有必要重置浏览器的默认样式。**************/
/***********该模块提供19种CSS3命令*********/
/*****该模块提供布局功能*****/
/*****typography模块 *****/
/*******utilities模块 该模块提供某些不属于其他模块的功能。******/
/* 这是头部的样式*/
/* line 4, ../sass/_top.scss */
#top {
  height: 100px;

}

/* 这是头部注册登录导航的样式*/
/* line 12, ../sass/_top.scss */
.top-main {
  height: 35px;
  display: flex;
  justify-content: flex-end;
}
/* line 16, ../sass/_top.scss */
.top-main ul {
  display: flex;
}
/* line 20, ../sass/_top.scss */
.top-main ul li {
  justify-content: flex-end;
  border-right: 1px dotted #ababab;
  font-size: 12px;
  padding: 0 15px;
  margin-top: 15px;
}
/* line 26, ../sass/_top.scss */
.top-main ul li a {
  color: black;
  text-decoration: none;
}
/* line 35, ../sass/_top.scss */
.top-main form {
  border-bottom: 1px solid #ababab;
  width: 249px;
  margin-left: 20px;
  padding-top: 14px;
}
/* line 41, ../sass/_top.scss */
.top-main form input {
  border: 0;
  outline: none;
}

/******这是头部女装企业信息的样式*******/
/* line 51, ../sass/_top.scss */
.top-item {
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
}
/* line 55, ../sass/_top.scss */
.top-item img {
  justify-content: space-between;
  width: 52px;
  height: 52px;
}
/* line 61, ../sass/_top.scss */
.top-item .leftul {
  justify-content: space-between;
  display: flex;
  padding: 17px 0;
}
/* line 65, ../sass/_top.scss */
.top-item .leftul li {
  height: 23px;
  border-right: 1px dotted #ababab;
  padding: 0 20px;
  line-height: 23px;
  font-weight: bold;
}
/* line 74, ../sass/_top.scss */
.top-item .leftul li a {
  color: black;
  text-decoration: none;
  border-right: 1px dotted white;
  font-size: 12px;
}
/* line 82, ../sass/_top.scss */
.top-item .leftul li a:hover {
  color: red;
}
/* line 87, ../sass/_top.scss */
.top-item .leftul li:nth-of-type(4) {
  border: 0;
}
/* line 92, ../sass/_top.scss */
.top-item .rightul {
  margin-left: 40px;
  display: flex;
}
/* line 97, ../sass/_top.scss */
.top-item .rightul li {
  background: #a1a1a1;
  padding: 0 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 50px;
}
/* line 107, ../sass/_top.scss */
.top-item .rightul li span {
  width: 0px;
  height: 30px;
  margin-left: 20px;
  border-right: 1px dotted white;
}
/* line 114, ../sass/_top.scss */
.top-item >.rightul >li>a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
/* line 120, ../sass/_top.scss */
.top-item .rightul li a:hover {
  color: red;
}
/* line 125, ../sass/_top.scss */
.top-item .rightul li:nth-of-type(5) {
  background: #666666;
}
/* line 128, ../sass/_top.scss */
.top-item .rightul li:nth-of-type(6) {
  background: #3c3c3c;
}

#footer {
  height: 176px;
  margin-top: 24px;
}
/* line 562, ../sass/index.scss */
#footer .footer-nav {
  width: 100%;
  height: 52px;
  display: flex;
  margin-bottom: 20px;
  background-color: black;
}
/* line 568, ../sass/index.scss */
#footer .footer-nav img {
  width: 52px;
  height: 52px;
}
/* line 572, ../sass/index.scss */
#footer .footer-nav .footer-leftnav {
  display: flex;
  height: 52px;
}
/* line 575, ../sass/index.scss */
#footer .footer-nav .footer-leftnav span {
  width: 0px;
  height: 24px;
  border-right: 1px dotted  white;
  margin: 14px 0;
}
/* line 582, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 {
  padding: 17px 120px 17px 120px;
}
/* line 584, ../sass/index.scss */
#footer>.footer-nav>.footer-leftnav>h3>a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}
/* line 590, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 a:hover {
  color: red;
}
/* line 598, ../sass/index.scss */
#footer .footeritem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 602, ../sass/index.scss */
#footer .footeritem a {
  font-size: 14px;
  color: #ababab;
  text-decoration: none;
}

.wrap {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-top:30px;
}

#spic {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    float: left;
    position: relative;
}

#spic img {
    width: 400px;
    height: 400px;
}

#sf {
    width: 50px;
    height: 50px;
    background: orange;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    cursor: move;
}

#bf {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    float: left;
    overflow: hidden;
    position: relative;
    left: 10px;
    visibility: hidden;
    z-index:10

}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
}

#ulist {
    position: absolute;
    left: -120px;
    bottom: 60px;
    width: 56px;
    height: 402px;
    overflow: hidden;
    display:flex;

  
}

 #ulist a {
  
    width: 10px;
    height: 54px;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    background: #fff;
  
} 

#list {
  

    width: 372px;
    position: relative;
}

#imglist {
    list-style: none;
 
    position: absolute;
    left: 0px;
    top: 0px;
}

#imglist li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
    cursor: pointer;
}

#imglist li img {
    width: 56px;
    height: 52px;
    border: 1px solid #ccc;
}

.icon-shangjiantou {
    position: absolute;
    right: 3px;
    top: -51px;
    width:50px;
    height:50px;
  
}

.icon-jiantou9{
    position: absolute;
    left: 3px;
    top: 335px;
    z-index: 2;
  
    width:50px;
    height:50px;
}

.box {
    position: absolute;
    background: red;
    height: 10px;
}

.goodsinfo-word {
    overflow: hidden;
    float: left;
    position:absolute;
    right:350px;
    bottom:20px;
}

.p-name {
    width: 350px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
    background: rgba(183, 183, 183, 0.4);
}

.p-name .loadtitle {
    font-family: "微软雅黑";
    color: #666666;
    font-weight: bold;
    font-size: 18px;
}

.p-price {
    margin-left: 50px;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    background: rgba(183, 183, 183, 0.4);
    line-height: 50px;
}

.p-btn {
    margin-top: 20px;
}

.p-btn input {
    display: inline-block;
    width: 50px;
    height: 46px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: black;
    margin-left: 50px;
    border: 1px solid gray;
    float: left;
}

.p-btn a {
    display: block;
    width: 100px;
    height: 50px;
    background-color: red;
    font-size: 16px;
    font-family: "微软雅黑";
    color: white;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-left: 10px;
}