

/* 这是连衣裙列表的样式 */
#dresslist {
    width:1282px;
    margin:0 auto;
    margin-top: 50px;

  }
  /* line 6, ../sass/_rxph.scss */
  #dresslist>p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom:60px;
  }
  /* line 11, ../sass/_rxph.scss */
  #dresslist ul {
    width: 100%;
 
    overflow: hidden;
    margin-bottom: 30px;
  }

  #dresslist ul li{
      width:20%;
     float:left;
      height:300px;
    
      text-align:center
  }


 #dresslist>ul>li>a>img{
    display: inline-block;
 
      height:200px;
  }
#dresslist>ul>li>a{
display:inline-block;
    height:300px;
    text-decoration: none;
    color:black
}

#dress>li>a>p{
  font-size:20px;
  margin-bottom:10px;
}


