html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***********编写自己的样式之前，有必要重置浏览器的默认样式。**************/
/***********该模块提供19种CSS3命令*********/
/*****该模块提供布局功能*****/
/*****typography模块 *****/
/*******utilities模块 该模块提供某些不属于其他模块的功能。******/
/* 这是头部的样式*/
/* line 4, ../sass/_top.scss */
#top {
  height: 100px;

}

/* 这是头部注册登录导航的样式*/
/* line 12, ../sass/_top.scss */
.top-main {
  height: 35px;
  display: flex;
  justify-content: flex-end;
}
/* line 16, ../sass/_top.scss */
.top-main ul {
  display: flex;
}
/* line 20, ../sass/_top.scss */
.top-main ul li {
  justify-content: flex-end;
  border-right: 1px dotted #ababab;
  font-size: 12px;
  padding: 0 15px;
  margin-top: 15px;
}
/* line 26, ../sass/_top.scss */
.top-main ul li a {
  color: black;
  text-decoration: none;
}
/* line 35, ../sass/_top.scss */
.top-main form {
  border-bottom: 1px solid #ababab;
  width: 249px;
  margin-left: 20px;
  padding-top: 14px;
}
/* line 41, ../sass/_top.scss */
.top-main form input {
  border: 0;
  outline: none;
}

/******这是头部女装企业信息的样式*******/
/* line 51, ../sass/_top.scss */
.top-item {
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
}
/* line 55, ../sass/_top.scss */
.top-item img {
  justify-content: space-between;
  width: 52px;
  height: 52px;
}
/* line 61, ../sass/_top.scss */
.top-item .leftul {
  justify-content: space-between;
  display: flex;
  padding: 17px 0;
}
/* line 65, ../sass/_top.scss */
.top-item .leftul li {
  height: 23px;
  border-right: 1px dotted #ababab;
  padding: 0 20px;
  line-height: 23px;
  font-weight: bold;
}
/* line 74, ../sass/_top.scss */
.top-item .leftul li a {
  color: black;
  text-decoration: none;
  border-right: 1px dotted white;
  font-size: 12px;
}
/* line 82, ../sass/_top.scss */
.top-item .leftul li a:hover {
  color: red;
}
/* line 87, ../sass/_top.scss */
.top-item .leftul li:nth-of-type(4) {
  border: 0;
}
/* line 92, ../sass/_top.scss */
.top-item .rightul {
  margin-left: 40px;
  display: flex;
}
/* line 97, ../sass/_top.scss */
.top-item .rightul li {
  background: #a1a1a1;
  padding: 0 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 50px;
}
/* line 107, ../sass/_top.scss */
.top-item .rightul li span {
  width: 0px;
  height: 30px;
  margin-left: 20px;
  border-right: 1px dotted white;
}
/* line 114, ../sass/_top.scss */
.top-item .rightul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
/* line 120, ../sass/_top.scss */
.top-item .rightul li a:hover {
  color: red;
}
/* line 125, ../sass/_top.scss */
.top-item .rightul li:nth-of-type(5) {
  background: #666666;
}
/* line 128, ../sass/_top.scss */
.top-item .rightul li:nth-of-type(6) {
  background: #3c3c3c;
}

#footer {
  height: 176px;
  margin-top: 24px;
}
/* line 562, ../sass/index.scss */
#footer .footer-nav {
  width: 100%;
  height: 52px;
  display: flex;
  margin-bottom: 20px;
  background-color: black;
}
/* line 568, ../sass/index.scss */
#footer .footer-nav img {
  width: 52px;
  height: 52px;
}
/* line 572, ../sass/index.scss */
#footer .footer-nav .footer-leftnav {
  display: flex;
  height: 52px;
}
/* line 575, ../sass/index.scss */
#footer .footer-nav .footer-leftnav span {
  width: 0px;
  height: 24px;
  border-right: 1px dotted  white;
  margin: 14px 0;
}
/* line 582, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 {
  padding: 17px 120px 17px 120px;
}
/* line 584, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}
/* line 590, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 a:hover {
  color: red;
}
/* line 598, ../sass/index.scss */
#footer .footeritem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 602, ../sass/index.scss */
#footer .footeritem a {
  font-size: 14px;
  color: #ababab;
  text-decoration: none;
}

/* 这是中间注册的样式 */
.h-col{
  width:1280px;
  height:60px;
  background-color: #f4f4f4;
  margin:30px 0;
  font-size:20px;
 
}

.form-wrap>div:nth-child(2), .form-wrap>div:nth-child(3) {
  margin: 20px auto;}
 .panel-center {
    padding: 20px 400px;
}

.h-clearfix {
  zoom: 1;
  display: table;
  width: 100%;
  border-spacing: 0;}
  .h-form .h-form-group>div>:last-child {
    margin-right: 0;
}

.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.h-combo-box {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 100%;
}
.h-clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.h-form .h-form-group {
  margin-top: 20px;
}
.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.notice:after {
  display: inline;
  content: "\203B";
  color: #378694;
  letter-spacing: 1px;
  font-size: inherit;
}

.h-combo-box .h-combo-box-editor {
  outline: 0;
  line-height: 36px;
  padding-right: 24px;
  background-color: transparent;
  text-indent: 6px;
  height: 100%;
  width: 100%;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  border-bottom: 1px solid #ababab;
}
.h-form .h-form-group>div>:last-child {
  margin-right: 0;
}

.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.h-combo-box {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 100%;
}
.h-combo-box .h-combo-box-editor-inner {
  overflow: hidden;
  white-space: nowrap;
}
.h-text-box .icon.left {
  left: 3px;}
  .h-text-box.icon-left input {
    padding-left: 23px;
    text-indent: 0;}
    .h-text-box input {
      position: absolute;
      display: block;
      border-style: none;
      background-color: transparent;
      text-indent: 6px;
      height: 100%;
      width: 100%;
      background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  }
  input, select, textarea {
    font-size: inherit;
    outline: none;}
    .h-form .h-text-box {
      margin-top: 5px;
      border-top: none;
      border-left: none;
      border-right: none;}
      .h-form .h-form-group>div>:last-child {
        margin-right: 0;}
        .h-text-box {
          position: relative;
          border: 1px solid #dadada;
          height: 36px;
          width: 100%;
      }
      .error-msg {
        margin-top: 10px;
        color: #fe0000;
        white-space: normal;
    }
    .error-msg:before {
      display: inline-block;
      width: 14px;
 
      height: 14px;
      margin-top: -3px;
      margin-right: 6px;
      vertical-align: middle;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFW…pPc6q4OdnS37F4AJQcdIlQNzVy8ZA3YAA9OIMiHvKXAAMAzv8pCLSuhgkAAAAASUVORK5CYII=);
      content: "";
  }
.h-form .h-text-box {
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

h-text-box input {
  position: absolute;
  display: block;
  border-style: none;
  background-color: transparent;
  text-indent: 6px;
  height: 100%;
  width: 100%;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
input, select, textarea {
  font-size: inherit;
  outline: none;
}.h-btn {
  font-size: 14px;
}
.h-form .h-form-group>div>:last-child {
  margin-right: 0;
}

.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.h-btn:disabled {
  color: #fff!important;
  border-color: #dadada;
  background-color: #dadada;
  cursor: default;
}
.h-btn.black, .h-btn.red {
  color: #fff!important;
  letter-spacing: -.5px;
}
.h-btn.black {
  border-color: #1b1b1b;
  background-color: #1b1b1b;
}
.h-btn {

  border: 1px solid #1b1b1b;

}
button {
  padding: 0;
  outline: none;
}
.h-form .h-form-group {
  margin-top: 20px;}
  .h-form .h-form-group.center {
    text-align: center;
}

.h-form .h-form-group {
    margin-top: 20px;
}
.h-clearfix {
    zoom: 1;
    display: table;
    width: 100%;
    border-spacing: 0;
}

.h-slider-verification .h-slider-bar {
  position: absolute;
  left: 0;
  top: 0;
}
.h-slider-verification.valid {
  background-color: #27788b;
  color: #fff;
}
.h-slider-verification.valid .h-slider-block {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFW…1oOZAD1YuzxAYVmpuhikGltzE048MC/iy0CliNrQoACDAA5NxvbuG/dUcAAAAASUVORK5CYII=);
}
.h-slider-verification .h-slider-bar .h-slider-block {
  height: 40px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;}
  .h-combo-box i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 24px;
    height: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFW…36tIIZxMKjGKwIxGCGiWBRDFeEFUhLS3eAMLo4I9XDESDAACJUILrVN3EmAAAAAElFTkSuQmCC);
    background-position: 50%;
}
  .panel-center {
  padding: 20px 400px;
}


.h-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFW…o8U8+9JuN153aplKOdahKWaWMreuSRfqa3mZ9pGZsIMABtc37N9kBk1gAAAABJRU5ErkJggg==);
  background-size: 100%;
  vertical-align: sub;
}

.h-radio input {
  display: block;

  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}