

/* 这是中间注册的样式 */
.h-col{
  width:1280px;
  height:60px;
  background-color: #f4f4f4;
  margin:30px auto 10px;
  font-size:30px;
  text-indent: 10p ;
}
.h-col>h2{
  line-height: 60px;
}

.form-wrap>div:nth-child(2), .form-wrap>div:nth-child(3) {
  margin: 20px auto;}
 .panel-center {
    padding: 20px 400px;
}

.h-clearfix {
  zoom: 1;
  display: table;
  width: 100%;
  border-spacing: 0;}
  .h-form .h-form-group>div>:last-child {
    margin-right: 0;
}

.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.h-combo-box {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 100%;
}
.h-clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.h-form .h-form-group {
  margin-top: 20px;
}
.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.notice:after {
  display: inline;
  content: "\203B";
  color: #378694;
  letter-spacing: 1px;
  font-size: inherit;
}

.h-combo-box .h-combo-box-editor {
  outline: 0;
  line-height: 36px;
  padding-right: 24px;
  background-color: transparent;
  text-indent: 6px;
  height: 100%;
  width: 100%;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  border-bottom: 1px solid #ababab;
}
.h-form .h-form-group>div>:last-child {
  margin-right: 0;
}

.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.h-combo-box {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 100%
}
.h-combo-box .h-combo-box-editor-inner {
  overflow: hidden;
  white-space: nowrap;
}
.h-text-box .icon.left {
  left: 3px;}
  .h-text-box.icon-left input {
 
    text-indent: 0;}
    .h-text-box input {
      position: absolute;
      display: block;
      border-style: none;
      background-color: transparent;
      text-indent: 6px;
      height: 100%;
      width: 100%;
      background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  }
  input, select, textarea {
    font-size: inherit;
    outline: none;}
    .h-form .h-text-box {
      margin-top: 5px;
      border-top: none;
      border-left: none;
      border-right: none;}
      .h-form .h-form-group>div>:last-child {
        margin-right: 0;}
        .h-text-box {
          position: relative;
          border: 1px solid #dadada;
          height: 36px;
          width: 100%;
      }
      .error-msg {
        margin-top: 10px;
        color: #fe0000;
        white-space: normal;
    }
    .error-msg:before {
      display: inline-block;
      width: 14px;
 
      height: 14px;
      margin-top: -3px;
      margin-right: 6px;
      vertical-align: middle;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFW…pPc6q4OdnS37F4AJQcdIlQNzVy8ZA3YAA9OIMiHvKXAAMAzv8pCLSuhgkAAAAASUVORK5CYII=);
      content: "";
  }
.h-form .h-text-box {
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

h-text-box input {
  position: absolute;
  display: block;
  border-style: none;
  background-color: transparent;
  text-indent: 6px;
  height: 100%;
  width: 100%;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
input, select, textarea {
  font-size: inherit;
  outline: none;
}.h-btn {
  font-size: 14px;
}
.h-form .h-form-group>div>:last-child {
  margin-right: 0;
}

.h-form .h-form-group>div>* {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.h-btn.black  {
  color: #fff!important;
  letter-spacing: -.5px;
  text-decoration: none;
}
.h-btn.black {
  width:80px;
  border-color: #1b1b1b;
  background-color: #1b1b1b;
}
.h-btn {

  border: 1px solid #1b1b1b;

}
button {
  padding: 0;
  outline: none;
}
.h-form .h-form-group {
  margin-top: 20px;}
  .h-form .h-form-group.center {
    text-align: center;
}

.h-form .h-form-group {
    margin-top: 20px;
}
.h-clearfix {
    zoom: 1;
    display: table;
    width: 100%;
    border-spacing: 0;
}

.h-slider-verification .h-slider-bar {
  position: absolute;
  left: 0;
  top: 0;
}
.h-slider-verification.valid {
  background-color: #27788b;
  color: #fff;
}
.h-slider-verification.valid .h-slider-block {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFW…1oOZAD1YuzxAYVmpuhikGltzE048MC/iy0CliNrQoACDAA5NxvbuG/dUcAAAAASUVORK5CYII=);
}
.h-slider-verification .h-slider-bar .h-slider-block {
  height: 40px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;}
  .h-combo-box i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 24px;
    height: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFW…36tIIZxMKjGKwIxGCGiWBRDFeEFUhLS3eAMLo4I9XDESDAACJUILrVN3EmAAAAAElFTkSuQmCC);
    background-position: 50%;
}
  .panel-center {
  padding: 20px 400px;
}


.h-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFW…o8U8+9JuN153aplKOdahKWaWMreuSRfqa3mZ9pGZsIMABtc37N9kBk1gAAAABJRU5ErkJggg==);
  background-size: 100%;
  vertical-align: sub;

}

.h-radio input {
  display: block;

  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}

.zhanghaospan{
  width:100px;
  height:20px;
}